#terminal-background {
  background-color: #300a24;
  height: 410px;
  width: 732px;
  /*color: #8ae234;*/
  color: #66ff33;
  font-family:"ubuntu mono";
  font-size:16px;
  font-weight:600;
  margin: 0px 0px 0px 0px;
}

.whiteText {
  color: white;
  font-weight: normal;
}

.blueText {
  color: #0099ff;
  font-weight: normal;
}

#terminal-top {
  height: 30px;
  width: 732px;
  background-color: #43423d;
  border-radius: 5px 5px 0px 0px;
  position:relative;
}

#test {
  position: absolute;
  height: 17px;
  width: 17px;
  border-radius: 15px;
  background-color: black;
  margin: 7px 0px 0px 7px;
}

#exit-button {
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 15px;
  background-color: red;
  margin: 7px 0px 0px 8px;
  border: 1px solid black;
}

#minimize-button {
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 15px;
  background-color: gray;
  margin: 7px 0px 0px 27px;
  border: 1px solid black;
}

#terminal {
  font-weight: 100;
  font-size: 30px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
